<ion-header>
    <ion-toolbar>
        <ion-title>Invoice</ion-title>
    </ion-toolbar>
</ion-header>

<div class = 'ion-text-center ion-padding' style = 'height: auto;width: auto;'>
    <div *ngIf = 'member.mBillingType === BT.one_time'>
        <form #priceForm = 'ngForm'>
            <mat-form-field appearance = 'fill'>
                <mat-label>Amount</mat-label>
                <input [(ngModel)] = 'amount' [max] = 'member.mRate'
                       matInput
                       min = '0'
                       name = 'amount'
                       type = 'number'>
            </mat-form-field>
        </form>
        <br>
        Amount: $ {{amount}}
    </div>
    <div *ngIf = 'member.mBillingType === BT.hourly'>
        <form #hourForm = 'ngForm'>
            <mat-form-field appearance = 'fill'>
                <mat-label>Hours</mat-label>
                <input [(ngModel)] = 'hours' [max] = 'actualHours'
                       matInput
                       min = '0'
                       name = 'hours'
                       type = 'number'>
            </mat-form-field>
        </form>
        <br>
        Amount: $ {{hours * member.mRate}}
    </div>
</div>

<ion-tab-bar slot = 'end'>
    <ion-tab-button (click) = 'dismiss(0)'>
        <ion-icon color = 'danger'
                  name = 'close'>
        </ion-icon>
    </ion-tab-button>
    <ion-tab-button
            (click) = 'dismiss(member.mBillingType === BT.one_time ?1 : 2)'
            [disabled] = 'member.mBillingType === BT.one_time ? amount > member.mRate:
    hours > actualHours'>
        <ion-icon color = 'success'
                  name = 'save'>
        </ion-icon>
    </ion-tab-button>
</ion-tab-bar>
