<ion-header>
    <ion-toolbar color = 'secondary'>
        <ion-buttons slot = 'start'>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>List of Clients</ion-title>
    </ion-toolbar>
</ion-header>

<app-menu-comp [uId] = 'uId'></app-menu-comp>

<ion-content *ngIf = 'clients.length > 0'>
    <br>
    <ion-card *ngFor = 'let client of clients'>
        <ion-card-header>
            <ion-card-title>{{client.cName}}</ion-card-title>
            <ion-card-subtitle>{{client.cCompany}}, {{client.cCountry}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class = 'ion-float-right'>
            <h5>Contact Information: {{client.cEmail}}</h5>
        </ion-card-content>
    </ion-card>
</ion-content>
