<ion-content fullscreen>

    <div class = 'bk'>
        <div class = 'top ion-float-left'>
            Work-O-Haul
            <br>
            <br>
            <div class = 'ion-float-right' style = 'font-size: medium'>
                - We work for you!
            </div>
        </div>
        <div class = 'bottom ion-text-center'>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button color = 'dark'
                                    expand = 'block'
                                    fill = 'outline'
                                    routerDirection = 'forward'
                                    routerLink = '/login'
                                    size = 'medium'>
                            Login
                        </ion-button>
                    </ion-col>

                    <ion-col>
                        <ion-button color = 'dark'
                                    expand = 'block'
                                    routerDirection = 'forward'
                                    routerLink = '/signup'
                                    size = 'medium'>
                            Sign-Up
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </div>
    </div>

</ion-content>
