:root {
  --ion-color-purple: #673AB7;
  --ion-color-purple-rgb: 103, 58, 183;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255, 255, 255;
  --ion-color-purple-shade: #5b33a1;
  --ion-color-purple-tint: #764ebe;

  --ion-color-orange: #FF5722;
  --ion-color-orange-rgb: 255, 87, 34;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #e04d1e;
  --ion-color-orange-tint: #ff6838;

  --ion-color-pink: #E91E63;
  --ion-color-pink-rgb: 233, 30, 99;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255, 255, 255;
  --ion-color-pink-shade: #cd1a57;
  --ion-color-pink-tint: #eb3573;

  --ion-color-brown: #795548;
  --ion-color-brown-rgb: 121, 85, 72;
  --ion-color-brown-contrast: #ffffff;
  --ion-color-brown-contrast-rgb: 255, 255, 255;
  --ion-color-brown-shade: #6a4b3f;
  --ion-color-brown-tint: #86665a;

  --ion-color-lime-green: #CDDC39;
  --ion-color-lime-green-rgb: 205, 220, 57;
  --ion-color-lime-green-contrast: #000000;
  --ion-color-lime-green-contrast-rgb: 0, 0, 0;
  --ion-color-lime-green-shade: #b4c232;
  --ion-color-lime-green-tint: #d2e04d;

  --ion-color-grey: #607D8B;
  --ion-color-grey-rgb: 96, 125, 139;
  --ion-color-grey-contrast: #ffffff;
  --ion-color-grey-contrast-rgb: 255, 255, 255;
  --ion-color-grey-shade: #546e7a;
  --ion-color-grey-tint: #708a97;

}
