<ion-header>
    <ion-toolbar>
        <ion-title>Invoice</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = 'member' class = 'ion-text-center'>

    <ion-item lines = 'none'>
        Un-billed hours: {{unbilledHours}} Hr/s
    </ion-item>

    <ion-item lines = 'none'>
        Payment: $ {{unbilledPayment}}
    </ion-item>
    <br>
    <ion-item-divider></ion-item-divider>
    <h5>Click below to enter hours manually</h5>
    <ion-item lines = 'none'>
        <ion-label>Unbilled Hours [Hrs] :</ion-label>
        <ion-input [(ngModel)] = 'manHours' name = 'manHours'
                   placeholder = 'Un-billed Hours' type = 'number'>
        </ion-input>
    </ion-item>

    <ion-fab horizontal = 'end' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)'
                        color = 'success'>
            <ion-icon name = "cloud-upload-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = 'start' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(false)'
                        color = 'danger'>
            <ion-icon name = "close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
