<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>ADD A NEW MEMBER</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = 'available' class = 'ion-padding ion-text-center'>

    <form #memForm = 'ngForm'
          (ngSubmit) = 'dismiss(true)'
          style = 'margin-top: 5vh;'>

        <mat-form-field appearance = 'fill'>
            <mat-label>Available Members</mat-label>
            <mat-select [(ngModel)] = 'pUser' name = 'members'
                        required>
                <mat-option *ngFor = 'let user of available'
                            [value] = 'user'>
                    {{user.uName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Billing Type</mat-label>
            <mat-select [(ngModel)] = 'mBillingType'
                        name = 'billingType'
                        required>
                <mat-option [value] = 'bt.one_time'>{{bt.one_time}}
                </mat-option>
                <mat-option [value] = 'bt.hourly'>{{bt.hourly}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>
                {{mBillingType === bt.one_time ? "Price: [$]" : "Rate: [$/hr]"}}
            </mat-label>
            <input [(ngModel)] = 'mRate' [disabled] = '!mBillingType'
                   matInput
                   name = 'rate'
                   placeholder = '$ 100'
                   required
                   type = 'number'>
            <mat-icon matSuffix>
                <ion-icon name = 'wallet'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>
                Member Role
            </mat-label>
            <mat-select [(ngModel)] = 'mRole' name = 'role'
                        required>
                <mat-option [value] = 'mr.developer'>
                    {{mr.developer}}
                </mat-option>
                <mat-option [value] = 'mr.designer'>
                    {{mr.designer}}
                </mat-option>
                <mat-option [value] = 'mr.qa'>
                    {{mr.qa}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <ion-fab *ngIf = 'memForm.valid' horizontal = 'end' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)' [@push] color = 'warning'>
            <ion-icon name = 'add-outline'></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = 'start' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(false)' [@push]
                        color = 'danger'>
            <ion-icon name = 'close-outline'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
