<form #logForm = 'ngForm' (ngSubmit) = 'logWork()'
      style = 'margin-top: 2rem;'>

    <mat-form-field appearance = 'fill'>
        <mat-label>Choose a Date</mat-label>
        <input [(ngModel)] = 'wDate' [matDatepicker] = 'picker'
               matInput
               name = 'date'
               required>
        <mat-datepicker-toggle [for] = 'picker'
                               matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field appearance = 'fill'>
        <mat-label>Task</mat-label>
        <input [(ngModel)] = 'wWork' matInput
               name = 'work'
               required
               type = 'text'>
    </mat-form-field>

    <br>

    <mat-form-field appearance = 'fill'>
        <mat-label>Hours</mat-label>
        <input [(ngModel)] = 'wHours' matInput
               name = 'hours'
               required
               type = 'number'>
    </mat-form-field>

    <br>

    <ion-button [disabled] = 'logForm.invalid'
                color = 'success'
                fill = 'solid'
                type = 'submit'>
        Log Work
    </ion-button>

</form>

<ion-item lines = 'full'></ion-item>