<ion-header *ngIf = 'member'>
    <ion-toolbar>
        <ion-item lines = 'none'>
            <ion-buttons slot = 'start'>
                <ion-button (click) = 'dismiss(false)' fill = 'clear'
                            shape = 'round'>
                    <ion-icon name = "arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-label><b>Log Work</b></ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf = 'member' class = 'ion-text-center'>

    <ion-item-group style = 'margin-top: 10rem'>
        <ion-item class = 'ion-item-border' lines = 'none'>
            <ion-label>Date</ion-label>
            <ion-datetime [(ngModel)] = 'lDate'
                          placeholder = 'Pick a Date'>
            </ion-datetime>
        </ion-item>

        <ion-item class = 'ion-item-border' lines = 'none'>
            <ion-label position = 'floating'>Hours</ion-label>
            <ion-input [(ngModel)] = 'lHours' placeholder = 'Hours worked'
                       type = 'number'>
            </ion-input>
        </ion-item>

        <ion-item class = 'ion-item-border' lines = 'none'>
            <ion-label position = 'floating'>Work</ion-label>
            <ion-input [(ngModel)] = 'lWork' placeholder = 'Work' type = 'text'>
            </ion-input>
        </ion-item>

    </ion-item-group>

    <ion-fab horizontal = 'end' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)'
                        [disabled] = '!lWork || !lHours || !lDate'
                        color = 'success'>
            <ion-icon name = "save-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
