<ion-header *ngIf = 'project'>
    <ion-toolbar
            [color] = 'project.pStatus === "active" ? "warning" : "success"'
    >
        <ion-item
                [color] = 'project.pStatus === "active" ? "warning" : "success"'
                lines = 'none'>
            <ion-buttons slot = 'start'>
                <ion-button (click) = 'backToDashboard()' fill = 'clear'
                            shape = 'round'>
                    <ion-icon name = "arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{project.pName}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = 'user && project'>

    <ion-card class = 'ion-text-center'>
        <ion-card-header>
            <ion-card-title>{{project.pName}}</ion-card-title>
            <ion-card-subtitle>{{"Start Date : " +
            (project.pStartDate | date)}}</ion-card-subtitle>
            <ion-card-subtitle>{{"Deadline : " + (project.pDeadline | date)}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{project.pDesc}}
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header class = 'ion-text-center'>
            <ion-card-title>Members
                <ion-icon (click) = 'addMember()'
                          *ngIf = 'available?.length > 0'
                          class = 'ion-float-right'
                          color = 'primary' name = "add-circle-outline"
                          size = 'large'>
                </ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-card *ngFor = 'let member of project.pMembers'>
                <ion-card-header>
                    <ion-card-title class = 'ion-text-center'>
                        <ion-icon (click) = 'removeMember(member)'
                                  class = 'ion-float-right'
                                  color = 'danger'
                                  name = "remove-circle-outline">
                        </ion-icon>
                        {{member.mName}}
                    </ion-card-title>
                    <ion-card-subtitle>{{member.mRole}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    Billing Type&nbsp;:&nbsp;<b>{{member.mBillingType}}</b>
                    <br>
                    {{member.mBillingType === "One Time" ? "Price : $" :
                    "Rate : $"}}{{member.mRate}}
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>

</ion-content>
