<ion-header *ngIf = 'project'>
    <ion-toolbar
            [color] = 'project.pStatus === "Active" ? "warning" : "success"'
    >
        <ion-item
                [color] = 'project.pStatus === "Active" ? "warning" : "success"'
                lines = 'none'>
            <ion-buttons slot = 'start'>
                <ion-button (click) = 'backToDashboard()' fill = 'clear'
                            shape = 'round'>
                    <ion-icon name = "arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{project.pName}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf = 'user && project'>

    <ion-card class = 'ion-text-center'>
        <ion-card-header>
            <ion-card-title>{{project.pName}}</ion-card-title>
            <ion-card-subtitle>{{"Start Date : " +
            (project.pStartDate | date)}}</ion-card-subtitle>
            <ion-card-subtitle>{{"Deadline : " + (project.pDeadline | date)}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{project.pDesc}}
        </ion-card-content>
    </ion-card>

    <ion-item lines = 'full'>
        <ion-label>
            <ion-title>Members</ion-title>
        </ion-label>
        <ion-icon (click) = 'addMember()'
                  *ngIf = 'available?.length > 0'
                  class = 'ion-float-right'
                  color = 'primary'
                  matTooltip = 'Add Member'
                  name = "person-add-outline">
        </ion-icon>
    </ion-item>

    <ion-card *ngFor = 'let member of project.pMembers'>
        <ion-card-header class = 'ion-text-center'>
            <ion-card-title>
                {{member.mName}}
            </ion-card-title>
            <ion-card-subtitle>
                {{member.mRole}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Billing Type&nbsp;:&nbsp;<b>{{member.mBillingType}}</b>
            <br>
            {{member.mBillingType === "One Time" ? "Price : $" :
            "Rate : $"}}{{member.mRate}}

            <ion-item-divider></ion-item-divider>
            <br>
            <div class = 'ion-float-right'>
                <ion-icon (click) = 'viewTimeSheet(member)' color = 'secondary'
                          name = "calendar-outline"
                          size = 'large'></ion-icon>
                &nbsp;
                <ion-icon (click) = 'addInvoice(member)' color = 'success'
                          name = "cash-outline"
                          size = 'large'></ion-icon>
                &nbsp;
                <!--                <ion-icon (click) = 'removeMember(member)'-->
                <!--                          *ngIf = 'member.mType !== MT.host && isUserHost'-->
                <!--                          color = 'danger'-->
                <!--                          name = "remove-circle-outline"-->
                <!--                          size = 'large'></ion-icon>-->
            </div>
            <br>
        </ion-card-content>
    </ion-card>
</ion-content>
