<ion-list lines = 'full'>
    <ion-item
            (click) = 'navigate("dashboard")'
            button
            routerDirection = 'front'>
        <ion-icon color = 'primary' name = 'tablet-landscape'
                  slot = 'start'></ion-icon>
        <ion-label>Dashboard</ion-label>
    </ion-item>
    <ion-item
            (click) = 'navigate("clients")'
            button
            routerDirection = 'front'>
        <ion-icon color = 'secondary' name = 'people'
                  slot = 'start'></ion-icon>
        <ion-label>Clients</ion-label>
    </ion-item>
    <ion-item
            (click) = 'navigate("settings")'
            button
            routerDirection = 'front'>
        <ion-icon color = 'tertiary' name = 'settings'
                  slot = 'start'></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item (click) = 'logOut()'
              button>
        <ion-icon color = 'danger'
                  name = 'power'
                  slot = 'start'></ion-icon>
        <ion-label>Log Out</ion-label>
    </ion-item>
</ion-list>

