<ion-header>
    <ion-toolbar>
        <ion-item lines = 'none'>
            <ion-icon (click) = 'dismiss(false)' color = 'dark'
                      name = "arrow-back-outline"
                      slot = 'start'>
                <ion-ripple-effect type = 'ios'></ion-ripple-effect>
            </ion-icon>
            <ion-label><h1>Add a new Client</h1></ion-label>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-text-center ion-padding'>

    <ion-item class = 'ion-item-border' lines = 'none'
              style = 'margin-top: 5rem'>
        <ion-label position = 'floating'>Client Name</ion-label>
        <ion-input [(ngModel)] = 'cName' placeholder = 'Client Name'
                   required type = 'text'></ion-input>
        <ion-icon name = "person-outline" slot = 'end'></ion-icon>
    </ion-item>

    <ion-item class = 'ion-item-border' lines = 'none'>
        <ion-label>Client Country</ion-label>
        <ion-select [(ngModel)] = 'cCountry' [selectedText] = 'cCountry'
                    cancelText = "Cancel" mode = 'md' okText =
                            "Select"
                    placeholder = 'India'>
            <ion-select-option *ngFor = 'let country of countries'
                               [value] = 'country'>{{country}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class = 'ion-item-border' lines = 'none'>
        <ion-label position = 'floating'>Company Name</ion-label>
        <ion-input [(ngModel)] = 'cCompany' placeholder = 'Company Name'
                   type = 'text'>
        </ion-input>
        <ion-icon name = "business-outline" slot = 'end'></ion-icon>
    </ion-item>

    <ion-fab horizontal = 'end' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)' color = 'success'>
            <ion-icon name = "save-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
