<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>
            Client Information
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-text-center ion-padding'>

    <form #clientForm = 'ngForm' (ngSubmit) = 'dismiss(true)'
          style = 'margin-top: 5vh'>
        <mat-form-field appearance = 'fill'>
            <mat-label>Client Name</mat-label>
            <input [(ngModel)] = 'cName' matInput
                   name = 'name'
                   placeholder = 'Epson'
                   required
                   type = 'text'>
            <mat-icon matSuffix>
                <ion-icon name = 'person'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Client Country</mat-label>
            <mat-select [(ngModel)] = 'cCountry'
                        name = 'country'>
                <mat-option *ngFor = 'let country of countries'
                            [value] = 'country'>
                    {{country}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Client Email</mat-label>
            <input [(ngModel)] = 'cEmail' matInput
                   name = 'email'
                   placeholder = 'epson1979@gmail.com'
                   required
                   email
                   type = 'email'>
            <mat-icon matSuffix>
                <ion-icon name = 'mail'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Company Name</mat-label>
            <input [(ngModel)] = 'cCompany' matInput
                   name = 'company'
                   placeholder = 'Epson Co. Ltd.'
                   required
                   type = 'text'>
            <mat-icon matSuffix>
                <ion-icon name = 'business'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <ion-fab horizontal = 'end' vertical = 'bottom'>
            <ion-fab-button (click) = 'dismiss(true)'
                            *ngIf = 'clientForm.valid'
                            [@push]
                            color = 'success'
                            type = 'submit'>
                <ion-icon name = 'save'></ion-icon>
            </ion-fab-button>
        </ion-fab>

    </form>

    <ion-fab horizontal = 'start' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(false)'
                        color = 'danger'>
            <ion-icon name = 'chevron-back'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
