<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-padding ion-text-center'>
    <h3 style = 'margin-top: 5vh'>Welcome to New User Registration!</h3>

    <form #signForm = 'ngForm' (ngSubmit) = 'signUp()'
          style = 'margin-top: 5vh'>
        <mat-form-field appearance = 'fill'>
            <mat-label>User Name</mat-label>
            <input [(ngModel)] = 'userName' autocomplete = 'false'
                   (keypress) = '$event.key === "Enter" && signForm.valid ?
                   signUp() : ""'
                   matInput
                   minlength = '3'
                   name = 'userName'
                   placeholder = 'George'
                   required
                   type = 'text'>
            <mat-icon matSuffix>
                <ion-icon name = 'person'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>User Email</mat-label>
            <input [(ngModel)] = 'userEmail' autocomplete = 'false'
                   (keypress) = '$event.key === "Enter" && signForm.valid ?
                   signUp() : ""'
                   email
                   matInput
                   name = 'userEmail'
                   placeholder = 'george7921@gmail.com'
                   required
                   type = 'email'>
            <mat-icon matSuffix>
                <ion-icon name = 'mail'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>
        <mat-form-field appearance = 'fill'>
            <mat-label>Password</mat-label>
            <input [(ngModel)] = 'userPassword' autocomplete = 'false'
                   (keypress) = '$event.key === "Enter" && signForm.valid ?
                   signUp() : ""'
                   matInput
                   minlength = '6'
                   name = 'password'
                   placeholder = '******'
                   required
                   type = 'password'>
            <mat-icon matSuffix>
                <ion-icon name = 'key'></ion-icon>
            </mat-icon>
        </mat-form-field>

    </form>

    <ion-card-subtitle>
        <b>Note: </b>Password must contain atleast 6 characters!
    </ion-card-subtitle>

    <ion-fab horizontal = 'start' vertical = 'bottom'>
        <ion-fab-button [@push] color = 'warning'
                        routerDirection = 'back' routerLink = '/login'>
            <ion-icon name = 'chevron-back'></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = 'end' vertical = 'bottom'>
        <ion-fab-button (click) = 'signUp()' *ngIf = 'signForm.valid' [@push]>
            <ion-icon name = 'person-add'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
