<ion-header>
    <ion-toolbar>
        <ion-title>
            Member
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides #slides style = 'height: 100%'>
        <ion-slide>
            <div style = 'width: 100%; height: 100%;'>

                <form #logForm = 'ngForm' (ngSubmit) = 'logWork()'
                      style = 'margin-top: 2rem;'>

                    <mat-form-field appearance = 'fill'>
                        <mat-label>Choose a Date</mat-label>
                        <input [matDatepicker] = 'picker' matInput
                               name = 'wDate'
                               ngModel
                               required>
                        <mat-datepicker-toggle [for] = 'picker'
                                               matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker
                                        color = 'primary'></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance = 'fill'>
                        <mat-label>Task</mat-label>
                        <input matInput name = 'wWork'
                               ngModel
                               required
                               type = 'text'>
                    </mat-form-field>
                    <mat-form-field appearance = 'fill'>
                        <mat-label>Hours</mat-label>
                        <input matInput name = 'wHours'
                               ngModel
                               required
                               type = 'number'>
                    </mat-form-field>
                    <ion-button [disabled] = 'logForm.invalid'
                                color = 'success'
                                type = 'submit'>
                        Log Work
                    </ion-button>
                </form>

                <ion-item lines = 'full'></ion-item>

                <!--                <ion-card *ngFor = 'let weeklog of member?.mWeekLog'-->
                <!--                          [ngClass] = 'weeklog.billed ? "approved-card":-->
                <!--                          "pending-card" '-->
                <!--                          [@push]>-->
                <!--                    <ion-card-header>-->
                <!--                        <ion-card-title>-->
                <!--                            Week {{weeklog.weekNumber}}</ion-card-title>-->
                <!--                        <ion-card-subtitle>Hours Worked:-->
                <!--                            {{weeklog.billed ? weeklog.weeklyBilledHours :-->
                <!--                                weeklog.weeklyUnBilledHours}} Hr/s-->
                <!--                        </ion-card-subtitle>-->
                <!--                    </ion-card-header>-->
                <!--                    <ion-card-content *ngIf='!weeklog.billed'>-->
                <!--                        <ion-button color = 'success'-->
                <!--                                    (click) = 'editWorkLog(weeklog)'-->
                <!--                                    expand = 'block'>-->
                <!--                            Edit-->
                <!--                        </ion-button>-->
                <!--                        <ion-button (click) = 'deleteWorkLog(weeklog)'-->
                <!--                                    color = 'danger'-->
                <!--                                    expand = 'block'>-->
                <!--                            Delete-->
                <!--                        </ion-button>-->
                <!--                    </ion-card-content>-->
                <!--                </ion-card>-->

                <mat-accordion class = 'ion-text-left'>
                    <mat-expansion-panel
                            *ngFor = 'let weeklog of member?.mWeekLog'
                            [hideToggle] = 'weeklog.billed || weeklog.approved'
                            [ngClass] = 'weeklog.billed ?
                                                "approved-card": "pending-card"'>

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Week number: {{weeklog.weekNumber}}
                            </mat-panel-title>
                            <mat-panel-description style = 'font-weight: bold;'>
                                Hours Worked: {{weeklog.billed ?
                                weeklog.weeklyBilledHours : weeklog.weeklyUnBilledHours}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div *ngIf = '!weeklog.billed'
                             class = 'ion-text-center'>
                            <ion-button (click) = 'editWorkLog(weeklog)'
                                        color = 'success'
                                        expand = 'block'>
                                Edit
                            </ion-button>
                            <ion-button (click) = 'deleteWorkLog(weeklog)'
                                        color = 'danger'
                                        expand = 'block'>
                                Delete
                            </ion-button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ion-slide>


        <ion-slide>
            <div style = 'width: 100%; height: 100%;'>

                <ion-title>Invoices</ion-title>

                <mat-accordion class = 'ion-text-left'>
                    <mat-expansion-panel *ngFor = 'let invoice of invoices'>

                        <mat-expansion-panel-header
                                [ngClass] = 'invoice.iApproved ?
                                                   "approved-card": "pending-card"'>
                            <mat-panel-title>
                                Week number: {{invoice.iWeek}}
                            </mat-panel-title>
                            <mat-panel-description style = 'font-weight: bold;'>
                                Amount: $ {{invoice.iAmount}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div *ngIf = '!invoice.iApproved'
                             class = 'ion-text-center'>

                            <mat-form-field appearance = 'fill'>
                                <mat-label>Amount [$]</mat-label>
                                <input [(ngModel)] = 'invoice.iAmount' matInput
                                       type = 'number'>
                            </mat-form-field>

                            <ion-button (click) = 'approveInvoice(invoice)'
                                        color = 'success'
                                        expand = 'block'>
                                Approved
                            </ion-button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ion-slide>
    </ion-slides>

    <ion-fab [@push] horizontal = 'end' slot = 'fixed'
             vertical = 'bottom'>
        <ion-fab-button (click) = 'currentSlide === 0 ? slides.slideNext() :
                                slides.slidePrev();
                                currentSlide = currentSlide === 0 ? 1 : 0;'
                        [color] = 'currentSlide === 0 ? "success":"warning"'>
            <ion-icon [name] = 'currentSlide === 0 ? "cash": "calendar"'>
            </ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab [@push] horizontal = 'start' slot = 'fixed'
             vertical = 'bottom'>
        <ion-fab-button color = 'danger'>
            <ion-icon (click) = 'close()' name = 'chevron-back'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
