<ion-header>
    <ion-toolbar color = 'warning'>
        <ion-title>Add a new Project</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-text-center'>
    <br>
    <ion-label>
        <h3>Tell us something about your project!</h3>
    </ion-label>
    <br>
    <form #nameForm = 'ngForm' (ngSubmit) = 'dismiss(true)'>

        <mat-form-field appearance = 'fill'>
            <mat-label>Project Title</mat-label>
            <input [(ngModel)] = 'project.pName' matInput
                   name = 'name'
                   placeholder = 'Neutronium Generator'
                   required
                   type = 'text'>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Project Description</mat-label>
            <textarea [(ngModel)] = 'project.pDesc'
                      matInput
                      name = 'description'
                      placeholder = 'Give a brief introduction of your project...'
                      required
                      rows = '8'>
                    </textarea>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Client</mat-label>
            <mat-select [(ngModel)] = 'pClient'
                        name = 'client'
                        placeholder = 'Choose the client of the project!'
                        required>
                <mat-option *ngFor = 'let client of clients'
                            [value] = 'client'>
                    {{client.cName}}
                </mat-option>
                <mat-option (click) = 'addNewClient()'
                            style = 'background-color:
                            var(--ion-color-warning);
                            color: white;
                            font-weight: bold'>
                    Add a new client
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Payment Type</mat-label>
            <mat-select [(ngModel)] = 'project.pBillingType'
                        name = 'paymentType'
                        placeholder = 'Select the project payment type!'
                        required>
                <mat-option [value] = 'BT.one_time'>{{BT.one_time}}</mat-option>
                <mat-option [value] = 'BT.hourly'>{{BT.hourly}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>
                {{project.pBillingType === BT.one_time ? "Budget [$]" :
                "Rate [$/Hr]"}}
            </mat-label>
            <input [(ngModel)] = 'project.pBudget' [disabled] =
                    '!project.pBillingType'
                   [required] = '!!project.pBillingType'
                   matInput
                   name = 'budget'
                   type = 'number'>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>
                Currency
            </mat-label>
            <mat-select [(ngModel)] = 'project.pCurrency'
                        [disabled] = '!project.pBillingType'
                        name = 'pCurrency'
                        placeholder = 'Select the currency'>
                <mat-option
                        [value] = 'CU.usd'>{{CU.usd.name}}</mat-option>
                <mat-option
                        [value] = 'CU.inr'>{{CU.inr.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill' color = 'warn'>
            <mat-label>
                Project Timeline
            </mat-label>
            <mat-date-range-input [rangePicker] = 'picker'>
                <input [(ngModel)] = 'project.pStartDate'
                       matStartDate
                       name = 'startDate'>
                <input [(ngModel)] = 'project.pDeadline'
                       matEndDate
                       name = 'endDate'
                >
            </mat-date-range-input>
            <mat-datepicker-toggle [for] = 'picker'
                                   matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #picker touchUi></mat-date-range-picker>
        </mat-form-field>
    </form>

    <br>

    <ion-item lines = 'full'>
        <ion-toolbar>
            <ion-title>Members</ion-title>
            <ion-buttons *ngIf = 'pMembers.length < members.length'
                         slot = 'end'>
                <ion-button (click) = 'addMember()'>
                    <ion-icon name = 'add-circle'></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-item>

    <ion-card *ngFor = 'let pMember of pMembers; let i = index'>
        <ion-card-header>
            <ion-card-title>{{pMember.mName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <mat-form-field *ngIf = 'pMembers[i].mType !== MT.host &&
                            pMember.mUId.length === 0'
                            appearance = 'fill'>
                <mat-label>Member</mat-label>
                <mat-select (selectionChange) =
                                    'selectMember(pMembers[i].mUId, i)'
                            [(ngModel)] = 'pMembers[i].mUId'
                            required>
                    <mat-option *ngFor = 'let aMembers of available'
                                [value] = 'aMembers.uId'>{{aMembers.uName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance = 'fill'>
                <mat-label>
                    Host Payment Type
                </mat-label>
                <mat-select [(ngModel)] = 'pMembers[i].mBillingType'
                            [disabled] = '!pMembers[i].mUId'
                            name = 'hostBT'
                            required>
                    <mat-option
                            [value] = 'BT.one_time'>{{BT.one_time}}</mat-option>
                    <mat-option [value] = 'BT.hourly'>{{BT.hourly}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance = 'fill'>
                <mat-label>
                    {{pMember.mBillingType === BT.one_time ? "Price [$]"
                    : "Rate [$/Hr]"}}
                </mat-label>
                <input [(ngModel)] = 'pMembers[i].mRate' [disabled] = 'pMember.mUId.length === 0 ||
                       pMembers[i].mBillingType.length === 0'
                       matInput
                       required
                       type = 'number'>
            </mat-form-field>

            <br>

            <mat-form-field appearance = 'fill'>
                <mat-label>
                    Currency
                </mat-label>
                <mat-select [(ngModel)] = 'pMembers[i].mCurrency'
                            [disabled] = '!pMembers[i].mUId'>
                    <mat-option
                            [value] = 'CU.usd'>{{CU.usd.name}}</mat-option>
                    <mat-option
                            [value] = 'CU.inr'>{{CU.inr.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <mat-form-field appearance = 'fill'>
                <mat-label>
                    Role
                </mat-label>
                <mat-select [(ngModel)] = 'pMembers[i].mRole'
                            [disabled] = '!pMembers[i].mUId'>
                    <mat-option
                            [value] = 'MR.developer'>{{MR.developer}}</mat-option>
                    <mat-option
                            [value] = 'MR.designer'>{{MR.designer}}</mat-option>
                    <mat-option
                            [value] = 'MR.qa'>{{MR.qa}}</mat-option>
                </mat-select>
            </mat-form-field>


            <ion-button (click) = 'removeMember(pMember)'
                        *ngIf = 'pMembers[i].mType !== MT.host'
                        [disabled] = 'pMember.mUId.length === 0'
                        color = 'danger'
                        expand = 'block'
                        fill = 'solid'>
                Remove
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-fab horizontal = 'end' slot = 'fixed' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)' [@push]
                        [disabled] = 'nameForm.invalid ||
     (pMembers.length + available.length) !== members.length'
                        color = 'success'>
            <ion-icon name = 'folder-open-outline'></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = 'start' slot = 'fixed' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(false)' color = 'danger'>
            <ion-icon name = 'close'></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
