<ion-header>
    <ion-toolbar>
        <ion-item lines = 'none'>
            <ion-buttons slot = 'start'>
                <ion-button (click) = 'openDropDown($event)' color = 'primary'
                            fill = 'clear' shape = "round">
                    <ion-icon name = "chevron-down-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Settings</ion-title>
            <ion-buttons slot = 'end'>
                <ion-button (click) = 'ds.logOut()' color = 'danger'
                            fill = 'solid'
                            shape = 'round'>
                    <ion-icon name = "log-out-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
