<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>Week {{worklog.weekNumber}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor = 'let log of worklog.dailyLog' [@push]>
        <ion-card-header>
            <ion-card-title>Date:
                {{log.date.toDate() | date}}</ion-card-title>
            <ion-card-subtitle>
                Hours Worked:&nbsp;<b>{{log.dailyHours}}</b>
                <br>
                Task:&nbsp;<b>{{log.work}}</b>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf = 'worklog.weeklyUnBilledHours > 0'>
            <mat-form-field appearance = 'fill' class = 'w100'>
                <mat-label>Work</mat-label>
                <input [(ngModel)] = 'log.work' matInput
                       type = 'text'>
            </mat-form-field>
            <br>
            <mat-form-field appearance = 'fill' class = 'w100'>
                <mat-label>Hours</mat-label>
                <input [(ngModel)] = 'log.dailyHours' matInput
                       type = 'number'>
            </mat-form-field>
            <br>
            <ion-button (click) = 'deleteLog(log)'
                        color = 'danger'
                        expand = 'block'>
                Delete
            </ion-button>
        </ion-card-content>
    </ion-card>


    <!--    <ion-fab vertical = 'bottom' horizontal = 'start' [@push]>-->
    <!--        <ion-fab-button color = 'danger'-->
    <!--                        (click) = 'dismiss(false)'>-->
    <!--            <ion-icon name = 'close'></ion-icon>-->
    <!--        </ion-fab-button>-->
    <!--    </ion-fab>-->

    <ion-fab [@push] horizontal = 'end' slot = 'fixed' vertical = 'bottom'>
        <ion-fab-button (click) = 'dismiss(true)' color = 'primary'>
            <ion-icon name = 'chevron-down'></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
