<ion-header>
    <ion-toolbar color = 'primary'>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-padding ion-text-center'>

    <form #loginForm = 'ngForm' (ngSubmit) = 'login()'
          style = 'margin-top: 5vh'>

        <mat-form-field appearance = 'fill'>
            <mat-label>Email</mat-label>
            <input (keypress) = '$event.key === "Enter" ? login() : ""'
                   [(ngModel)] = 'userEmail'
                   autocomplete = 'false'
                   email
                   matInput
                   name = 'email'
                   placeholder = 'abc@def.com'
                   required
                   type = 'email'>
            <mat-icon matSuffix>
                <ion-icon name = 'mail'></ion-icon>
            </mat-icon>
        </mat-form-field>

        <br>

        <mat-form-field appearance = 'fill'>
            <mat-label>Password</mat-label>
            <input (keypress) = '$event.key === "Enter" ? login() : ""'
                   [(ngModel)] = 'userPassword'
                   autocomplete = 'false'
                   matInput
                   minlength = '6'
                   name = 'password'
                   placeholder = '******'
                   required
                   type = 'password'>
            <mat-icon matSuffix>
                <ion-icon name = 'key'></ion-icon>
            </mat-icon>
        </mat-form-field>
        <p style = 'font-weight: bold;'>
            OR
        </p>
        <ion-button (click) = 'loginWithProvider("google")'
                    color = 'danger'>
            <ion-icon name = 'logo-google'></ion-icon>
        </ion-button>
        &nbsp;
        <ion-button (click) = 'loginWithProvider("github")'
                    color = 'dark'
        >
            <ion-icon name = 'logo-github'></ion-icon>
        </ion-button>
        &nbsp;
        <ion-button (click) = 'loginWithProvider("facebook")'
                    color = 'primary'
        >
            <ion-icon name = 'logo-facebook'></ion-icon>
        </ion-button>
        &nbsp;

        <ion-fab horizontal = 'end' vertical = 'bottom'>
            <ion-fab-button *ngIf = 'loginForm.valid' [@push]
                            type = 'submit'>
                <ion-icon (click) = 'login()' name = 'log-in-outline'
                          size = 'large'></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </form>
    <br>
    <p>Don't have an account? Try
        <b routerLink = '/signup'
           style = 'color: var(--ion-color-primary)'>Sign up.</b>
    </p>

    <ion-fab horizontal = 'center' vertical = 'center'>
        <ion-spinner *ngIf = 'ds.loadingSubject | async'
                     color = 'warning'></ion-spinner>
    </ion-fab>

</ion-content>
