<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class = 'ion-padding ion-text-center'>
    <ion-item class = 'ion-item-border' lines = 'none'
              style = 'margin-top: 5rem;'>
        <ion-label position = "floating">Email</ion-label>
        <ion-input [(ngModel)] = "userEmail" autocomplete = 'false' email
                   placeholder = "Email"
                   required type = "email">
        </ion-input>
        <ion-icon name = "mail-outline" slot = "end"></ion-icon>
    </ion-item>
    <ion-item class = 'ion-item-border' lines = 'none'>
        <ion-label position = "floating">Password</ion-label>
        <ion-input (keypress) = '$event.key === "Enter"
                   ? login() : ""' [(ngModel)] = "userPassword"
                   autocomplete = 'false'
                   minlength = "6" placeholder = "******"
                   required type = "password">
        </ion-input>
        <ion-icon name = "key-outline" slot = "end"></ion-icon>
    </ion-item>
    <div>
        <p>Don't have an account? Try <b routerLink = '/signup'>Sign up.</b></p>
    </div>
    <ion-fab horizontal = "end" vertical = "bottom">
        <ion-fab-button *ngIf = 'userEmail && userPassword &&
        userPassword.length >= 6'>
            <ion-icon (click) = 'login()' name = "log-in-outline"
                      size = 'large'></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal = 'center' vertical = 'center'>
        <ion-spinner *ngIf = 'ds.loadingSubject | async'
                     color = 'warning'></ion-spinner>
    </ion-fab>
</ion-content>
